<div class="menu-item-info-box div-img" [@menuItemAppeared]="menuItemState">
  <span class="menu-item-info-box-icon">

    <button type="button" class="btn" data-toggle="modal" data-target="#0" (click)="setImage(menuItem.imagePath)">

      <img height="120px" [src]="menuItem.imagePath">

    </button>

  </span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{menuItem.name}}</span>
    <span class="menu-item-info-box-detail">{{menuItem.description}}</span>
    <span class="menu-item-info-box-price">{{menuItem.price | currency: 'BRL': true}}</span>
    <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>