<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Bem-vindo a BG FOR MEN!</h1>
     <p>
       Aqui você encontra roupas, roupa íntima, tênis, sandálias e perfumes. 
     </p>
     <p>Compre e receba no conforto da sua casa!</p>

     <div class="jumbotron welcome-jumbotron">

      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <img class="carousel-foto" src="../../assets/img/camisas/p/WhatsApp Image 2019-01-23 at 12.08.04 (1).jpeg" class="d-block w-100" alt="Camisas Multimarcas">
          </div>
          <div class="item">
            <img class="carousel-foto" src="../../assets/img/sandalias/IMG-20181029-WA0045.jpg" class="d-block w-100" alt="Sandalias Reserva">
          </div>
          <div class="item">
            <img class="carousel-foto" src="../../assets/img/tenis/IMG-20181202-WA0039.jpg" class="d-block w-100" alt="Tênis Multimarcas">
          </div>
        </div>
      </div>
    
    </div>

     <a class="btn btn-primary btn-lg" [routerLink]="['/produtos']">Veja nossos produtos</a>
  </div>

</section>
